\{% extends "./../includes/layout.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<h1>Energy utilities</h1>
<p></p>

<div class="ons-summary">
        <div id="how-to-complete-and-reporting-period" class="ons-summary__group">
                <h2 class="ons-summary__group-title">Energy utilities</h2>
                <table class="ons-summary__items">
                        <thead class="ons-u-vh">
                        <tr>
                                <th>Question</th>
                                <th>Answer given</th>
                                <th>Change answer</th>
                        </tr>
                        </thead>
                        <tbody id="check-your-answers-row" class="ons-summary__item">
                        <tr id="check-your-answers" class="ons-summary__row ons-summary__row--has-values">
                                <td class="ons-summary__item-title">
                                        {% if data ['customDates'] === true %}
                                        <div class="ons-summary__item--text">During the period {{ data['whatDateFromDay'] }} {{ data['whatDateFromMonthText'] }} {{ data['whatDateFromYear'] }} to {{ data['whatDateToDay'] }} {{ data['whatDateToMonthText'] }} {{ data['whatDateToYear'] }}, what was the total amount your household spent on gas, electric and water bills?</div>
                                        {% endif %}
                                        {% if data ['customDates'] !== true %}
                                        <div class="ons-summary__item--text">During the period 1 January 2021 to 31 December 2021, what was the total amount your household spent on gas, electric and water bills?</div>
                                        {% endif %}
                                </td>
                                <td class="ons-summary__values">
                                        £{{ data ['totalEnergyUtilitiesFormatted'] }}.00
                                </td>
                                <td class="ons-summary__actions">
                                        <a href="" onclick="showAlert();" class="ons-summary__button" aria-label="Change answer">Change</a>
                                </td>
                        </tr>
                        </tbody>
                </table>
        </div>
</div>

<form method="post">
{% from "components/button/_macro.njk" import onsButton %}
        {{
        onsButton({
        "classes": "ons-u-mt-l",
        "text": "Continue"
        })
        }}
</form>
{% endblock %}
