{% extends "./../includes/layout.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
    {{
    onsBreadcrumbs({
    "ariaLabel": 'Previous',
    "itemsList": [
    {
    "url": 'javascript:history.back()',
    "id": "previous",
    "text": 'Previous'
    }
    ]
    })
    }}
{% endblock %}

{% block main %}

<h1>During the last month, what was the total income from benefits for your household?</h1>

<p></p>
<details id="collapsible" class="ons-collapsible ons-js-collapsible ons-u-mb-m">
    <summary class="ons-collapsible__heading ons-js-collapsible-heading">
      <h2 class="ons-collapsible__title">What we mean by benefits?</h2>
      <span class="ons-collapsible__icon">
        <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
          <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
        </svg>
      </span>
    </summary>
    <div id="collapsible-content" class="ons-collapsible__content ons-js-collapsible-content">
      <p>Include disability living allowance, child benefit, employment and support allowance, attendance allowance, universal credit.</p>
    </div>
  </details>

<form method="post">

    <div class="ons-field">


        <label class="ons-label ons-label--with-description" for="totalElectricitySpend">Total income from benefits for your household</label>
        <span id="description-hint" class="ons-label__description  ons-input--with-description">Enter the value to the nearest £ (e.g. 1,234) or a value to the nearest £thousand (e.g. 1,000). Do not enter ‘1’ for 1,000. </span>

        <span class="ons-input-type ons-input-type--prefix">
                <span class="ons-input-type__inner">

        <input type="text" id="totalElectricitySpend"
               class="ons-input ons-input--text ons-input-type__input ons-input-number--w-15"
               title="British pounds (GBP)" name="totalElectricitySpend" pattern="[0-9]*" inputmode="numeric"
               autocomplete="off" aria-describedby="description-hint" required="required"
               {% if data['totalElectricitySpend'] %}value="{{data['totalElectricitySpend']}}"{% endif %}
        >

                    <abbr class="ons-input-type__type ons-js-input-abbr" aria-hidden="true"
                          title="British pounds (GBP)">£</abbr>
                </span>
            </span>


    </div>

    {% from "components/button/_macro.njk" import onsButton %}
        {{
        onsButton({
        "classes": "ons-u-mt-l",
        "text": "Save and continue"
        })
        }}
</form>
{% endblock %}
