{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<form method="post">
    <div class="ons-summary">
        <div id="turnover" class="ons-summary__group">
            <h1>Expenditure</h1>
            <table class="ons-summary__items">
                <thead class="ons-u-vh">
                <tr>
                    <th>Question</th>
                    <th>Answer given</th>
                    <th>Change answer</th>
                </tr>
                </thead>
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">What was your expenditure on rental and leasing services?</div>
                    </td>
                    <td class="ons-summary__values">
                        £{{data['rent']}}
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Change answer">Change</a>
                    </td>
                </tr>
                </tbody>
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">What was your expenditure on construction of buildings?</div>
                    </td>
                    <td class="ons-summary__values">
                        £{{data['construction']}}
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Change answer">Change</a>
                    </td>
                </tr>
                </tbody>
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">Was there any expenditure on any other services?</div>
                    </td>
                    <td class="ons-summary__values">
                        {{data['anything-to-add'] | capitalize}}
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Change answer">Change</a>
                    </td>
                </tr>
                </tbody>
            {% if data['loopingData'].length > 0 %}
            {% for item in data['loopingData'] %}
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">What was the other service you had expenditure on?</div>
                    </td>
                    <td class="ons-summary__values">
                        {{ item.otherExpenditure }}
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Change details">Change</a>
                        <span class="ons-summary__spacer"></span>
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Remove answer">Remove</a>
                    </td>
                </tr>
                </tbody>
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">What was your expenditure on {{ item.otherExpenditure | lower }}?</div>
                    </td>
                    <td class="ons-summary__values">
                        £{{ item.expenditure }}
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#" onclick="showAlert();" class="ons-summary__button" aria-label="" data-qa="" data-ga="click" data-ga-category="Summary" data-ga-action="Edit click">Change</a>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
            {% endif %}
            </table>
            <br>
        </div>
    </div>
    {% if data['loopingData'].length > 0 %}
    <p><a href="add-one">Add another transport asset or equipment</a></p><br>
    {% endif %}
<button type="submit" class="ons-btn">
    <span class="ons-btn__inner">Save and continue</span>
</button>

</form>
{% endblock %}

{% block pageScripts %}
{% endblock %}
