{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<form method="post">
    <div class="ons-question ons-u-mb-l ons-u-mt-no">
        <div class="ons-question__answer ons-u-mb-m">
            <fieldset class="ons-fieldset">
                <legend class="ons-fieldset__legend ons-u-mb-no">
                    <h1 id="fieldset-legend-title" class="ons-fieldset__legend-title ons-u-mb-m">What is the name of the supermarket you shop at for household goods?</h1>
                </legend>
                <div class="ons-panel ons-panel--info ons-panel--no-title">
                    <span class="ons-u-vh">Important information: </span>
                    <div class="ons-panel__body">
                        <p>If you need to add multiple supermarkets, you can do this on the next page.</p>
                    </div>
                </div>
                <div class="ons-field">
                    <label class="ons-label" for="select">Name of supermarket</label>
                    <select name="supermarket" id="select" name="select" class="ons-input ons-input--select">
                        <option value="" selected disabled>Select an option</option>
                        <option value="Aldi">Aldi</option>
                        <option value="Asda">Asda</option>
                        <option value="B&M express">B&M express</option>
                        <option value="Booths">Booths</option>
                        <option value="Budgens">Budgens</option>
                        <option value="Co-op Food">Co-op Food</option>
                        <option value="Farmfoods">Farmfoods</option>
                        <option value="Fulton's Foods">Fulton's Foods</option>
                        <option value="Heron Foods">Heron Foods</option>
                        <option value="Iceland">Iceland</option>
                        <option value="Lidl">Lidl</option>
                        <option value="Marks & Spencer">Marks & Spencer</option>
                        <option value="Morrisons">Morrisons</option>
                        <option value="Ocado">Ocado</option>
                        <option value="Sainsbury's">Sainsbury's</option>
                        <option value="Tesco">Tesco</option>
                        <option value="Waitrose & Partners">Waitrose & Partners</option>
                    </select>
                </div>
            </fieldset>
        </div>
    </div>

    <button type="submit" class="ons-btn">
        <span class="ons-btn__inner">Save and continue</span>
    </button>
</form>
{% endblock %}

<!--
Aldi
Asda
B&M express
Booths
Budgens
Co-op Food
Farmfoods
Fulton's Foods
Heron Foods
Iceland
Lidl
Marks & Spencer
Morrisons
Ocado
Sainsbury's
Tesco
Waitrose & Partners
!-->