{% extends "./../includes/layout.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<form method="post">
        <div class="ons-summary">
                <div id="turnover" class="ons-summary__group">
                        <h1 class="ons-summary__group-title">Shopping</h1>
                        <table class="ons-summary__items">
                                <thead class="ons-u-vh">
                                <tr>
                                        <th>Question</th>
                                        <th>Answer given</th>
                                        <th>Change answer</th>
                                </tr>
                                </thead>
                                <tbody class="ons-summary__item">
                                <tr class="ons-summary__row ons-summary__row--has-values">
                                        <td class="ons-summary__item-title">
                                                <div class="ons-summary__item--text">Name of supermarket you shop at for household goods</div>
                                        </td>
                                        <td class="ons-summary__values">
                                                <ul>
                                                        {% for item in data['shopLoop'] %}
                                                        <li>{{ item.supermarket }}</li>
                                                        {% endfor %}
                                                </ul>
                                        </td>
                                        <td class="ons-summary__actions">
                                                <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Change answer">Change</a>
                                        </td>
                                </tr>
                                </tbody>

                        </table>
                        <br>
                </div>
        </div>

        <button type="submit" class="ons-btn">
                <span class="ons-btn__inner">Save and continue</span>
        </button>

</form>
{% endblock %}

{% block pageScripts %}
<script>
        function clearform(){
                document.getElementById('telephone').value = '';
                document.getElementById('email').value = '';
        }
</script>

<script>
        $(document).ready(clearCheckbox());
        function clearCheckbox() {
                $('#telephone').on('input', function() {
                        $("#not-sure").prop("checked", false);
                });
                $('#email').on('input', function() {
                        $("#not-sure").prop("checked", false);
                });
        }

</script>
{% endblock %}


