{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<form method="post">
    <div class="ons-summary">
        <div id="turnover" class="ons-summary__group">
            <h2 class="ons-summary__group-title">General insurance business</h2>
            <table class="ons-summary__items">
                <thead class="ons-u-vh">
                <tr>
                    <th>Question</th>
                    <th>Answer given</th>
                    <th>Change answer</th>
                </tr>
                </thead>
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">Do any companies or branches within your United Kingdom group undertake general insurance business?</div>
                    </td>
                    <td class="ons-summary__values">
                        Yes
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Change answer">Change</a>
                    </td>
                </tr>
                </tbody>
            </table>
            {% if data['loopingData'].length > 0 %}
            <h2 class="ons-summary__group-title">UK companies or branches that have undertaken general insurance business</h2>
            {% for item in data['loopingData'] %}
            <table class="ons-summary__items">
                <thead class="ons-u-vh">
                <tr>
                    <th>Question</th>
                    <th>Answer given</th>
                    <th>Change answer</th>
                </tr>
                </thead>
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">Name of UK company or branch</div>
                    </td>
                    <td class="ons-summary__values">
                        {{ item.description }}
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Change answer">Change</a>
                        <span class="ons-summary__spacer"></span>
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Remove answer">Remove</a>
                    </td>
                </tr>
                </tbody>
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">Registration number</div>
                    </td>
                    <td class="ons-summary__values">
                        {{ item.registration }}
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Change answer">Change</a>
                    </td>
                </tr>
                </tbody>
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">Is this UK company or branch an authorised insurer?</div>
                    </td>
                    <td class="ons-summary__values">
                        {% if item.authorised === 'yes' %}
                        Yes
                        {% endif %}
                        {% if item.authorised === 'no' %}
                        No
                        {% endif %}
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Change answer">Change</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% if data['loopingData'].length > 0 %}
    <p><a href="add-one">Add another UK company or branch</a></p><br>
    {% endif %}
<button type="submit" class="ons-btn">
    <span class="ons-btn__inner">Save and continue</span>
</button>

</form>
{% endblock %}

{% block pageScripts %}
{% endblock %}
