{% extends "./includes/layout.html" %}

{% block main %}
<h1>Thanks for providing feedback</h1>
<h2>Take part in our user research</h2>
<p>We need your help to improve and to make sure the website works well for the people who need it. Once you’ve signed up, you might be asked to:</p>
<ul>
        <li>try out new online features</li>
        <li>answer questions by email</li>
        <li>talk to our researchers about how you’ve interacted with us</li>
</ul>
<p>You can reject an invitation to take part, and can unsubscribe at any time.</p>

<div class="ons-field">
        <label class="ons-label" for="text">Full name</label>
        <input type="text" id="text" class="ons-input ons-input--text ons-input-type__input" />
</div>

<div class="ons-field">
        <label class="ons-label" for="email">Email address</label>

        <input type="email" id="email" class="ons-input ons-input--text ons-input-type__input" autocomplete="email" />
</div>
<br>

<a onclick="showAlert();" href="#" type="button" class="ons-btn ">
        <span class="ons-btn__inner">Take part in our user research</span>
</a>

{% endblock %}
