{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}

<h3>Long list to select from</h3>
<ul>
    <li><a href="long-select">Long list in select</a><p>Displaying a long list of codes to select from using the 'select' pattern</p></li>
    <li><a href="autoselect">Auto-suggest to suggest options for sectors</a><p>User starts typing and suggested options are displayed</p></li>
    <li><a href="progressive-disclosure">Radio options with progressive disclosures</a><p>Options with multiple sub-choices are nested in the radio, e.g. manufacturing</p></li>
</ul>

{% endblock %}
