add-value.htmladd-value.html{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<form method="post">
<div class="ons-question ons-u-mb-l ons-u-mt-no">
    <div class="ons-question__answer ons-u-mb-m">
        <fieldset class="ons-fieldset">
            <legend class="ons-fieldset__legend ons-u-mb-no">
                <h1 id="fieldset-legend-title" class="ons-fieldset__legend-title ons-u-mb-m">During the last month, what was the total income from wages you earnt?</h1>
            </legend>
            <div class="ons-field">
                <label class="ons-label" for="value-of-acquisition">Total income from wages you earnt</label>
                <span class="ons-input-type ons-input-type--prefix">
                <span id="description-hint" class="ons-label__description  ons-input--with-description">Enter the value to the nearest £ (e.g. 1,234) or a value to the nearest £thousand (e.g. 1,000). Do not enter ‘1’ for 1,000. </span>
                <span class="ons-input-type__inner">
                  <input name="acquisition" type="text" id="value-of-acquisition" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-15" title="British pounds (GBP)" pattern="[0-9]*" inputmode="numeric" autocomplete="off" required="required" />
                  <abbr class="ons-input-type__type ons-js-input-abbr" aria-hidden="true" title="British pounds (GBP)">£</abbr>
                </span>
              </span>
            </div>
            <!--<div class="ons-field">
                <label class="ons-label" for="value-of-proceeds-from-disposal">Value of proceeds from disposal from {{ data['description'] | lower }}</label>
                <span id="description-hint" class="ons-label__description  ons-input--with-description">Enter the value to the nearest £ (e.g. 1,234) or a value to the nearest £thousand (e.g. 1,000). Do not enter ‘1’ for 1,000. </span>
                <span class="ons-input-type ons-input-type--prefix">
                <span class="ons-input-type__inner">
                  <input name="disposal" type="text" id="value-of-proceeds-from-disposal" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-15" title="British pounds (GBP)" pattern="[0-9]*" inputmode="numeric" autocomplete="off" required="required" />
                  <abbr class="ons-input-type__type ons-js-input-abbr" aria-hidden="true" title="British pounds (GBP)">£</abbr>
                </span>
              </span>
            </div>-->
        </fieldset>
    </div>
</div>

<button type="submit" class="ons-btn">
    <span class="ons-btn__inner">Save and continue</span>
</button>
</form>
{% endblock %}
