{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<form method="post">
    <div class="ons-summary">
        <div id="turnover" class="ons-summary__group">
            <h2 class="ons-summary__group-title">Transport assets and equipment</h2>
            <table class="ons-summary__items">
                <thead class="ons-u-vh">
                <tr>
                    <th>Question</th>
                    <th>Answer given</th>
                    <th>Change answer</th>
                </tr>
                </thead>
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">For the reporting period, did you have any transport assets and equipment?</div>
                    </td>
                    <td class="ons-summary__values">
                        Yes
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Change answer">Change</a>
                    </td>
                </tr>
                </tbody>
            {% if data['loopingData'].length > 0 %}
            {% for item in data['loopingData'] %}
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">What was the transport asset or equipment?</div>
                    </td>
                    <td class="ons-summary__values">
                        {{ item.description }}
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Change details">Change</a>
                        <span class="ons-summary__spacer"></span>
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Remove answer">Remove</a>
                    </td>
                </tr>
                </tbody>
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row">
                    <th colspan="3" class="ons-summary__row-title ons-u-fs-r">What was the value of acquisition and value of proceed of disposal for {{ item.description | lower }}?</th>
                </tr>

                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">Value of acquisition of {{ item.description | lower }}</div>
                    </td>
                    <td class="ons-summary__values">
                        £{{ item.acquisition }}
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#" onclick="showAlert();" class="ons-summary__button" aria-label="" data-qa="" data-ga="click" data-ga-category="Summary" data-ga-action="Edit click">Change</a>
                    </td>
                </tr>
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">Value of proceeds of disposal from {{ item.description | lower }}</div>
                    </td>
                    <td class="ons-summary__values" data-qa="answerf7ced6ef-09c6-483f-ad5f-f65897e9e1ab">
                        £{{ item.disposal }}
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#" onclick="showAlert();" class="ons-summary__button" aria-label="" data-qa="answerf7ced6ef-09c6-483f-ad5f-f65897e9e1ab-edit" data-ga="click" data-ga-category="Summary" data-ga-action="Edit click">Change</a>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
            {% endif %}
            </table>
            <br>
        </div>
    </div>
    {% if data['loopingData'].length > 0 %}
    <p><a href="add-one">Add another transport asset or equipment</a></p><br>
    {% endif %}
<button type="submit" class="ons-btn">
    <span class="ons-btn__inner">Save and continue</span>
</button>

</form>
{% endblock %}

{% block pageScripts %}
{% endblock %}
