{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}

{% endblock %}

{% block main %}
<form method="post">
<div class="ons-question ons-u-mb-l ons-u-mt-no">
    <div class="ons-question__answer ons-u-mb-m">
        <fieldset class="ons-fieldset">
            <legend class="ons-fieldset__legend ons-u-mb-no">
                <h1 id="fieldset-legend-title" class="ons-fieldset__legend-title ons-u-mb-m">
                    How many overtime hours did Wilhelmina Susannah Clementine-Smith work in relation to being paid £{{data['overtimePay']}}?
                </h1>
            </legend>
            <div class="ons-field-group">
                <div class="ons-field">
                    <label class="ons-label" for="answer9f57e03d-efb4-4cf1-9b50-1ca381b72a32from-month" id="answer9f57e03d-efb4-4cf1-9b50-1ca381b72a32from-month-label">Hours</label>
                    <input type="text" id="answer9f57e03d-efb4-4cf1-9b50-1ca381b72a32from-month" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-2" name="answer9f57e03d-efb4-4cf1-9b50-1ca381b72a32from-month" min="1" max="12" maxlength="2" pattern="[0-9]*" inputmode="numeric">
                </div>
                <div class="ons-field">
                    <label class="ons-label" for="answer9f57e03d-efb4-4cf1-9b50-1ca381b72a32from-year" id="answer9f57e03d-efb4-4cf1-9b50-1ca381b72a32from-year-label">Minutes</label>
                    <input type="text" id="answer9f57e03d-efb4-4cf1-9b50-1ca381b72a32from-year" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-4" name="answer9f57e03d-efb4-4cf1-9b50-1ca381b72a32from-year" min="1000" max="3000" maxlength="4" pattern="[0-9]*" inputmode="numeric">
                </div>
            </div>

        </fieldset>
    </div>
</div>

<button type="submit" class="ons-btn">
    <span class="ons-btn__inner">Save and continue</span>
</button>
</form>
{% endblock %}
