{% extends "./includes/layout.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<h1>How to complete this survey</h1>
<p></p>

<ul>
        <li>This survey is for construction businesses and allied trades. If you are a fitter, installer, or have any
                other involvement in construction projects, you are included within the construction industry and so
                should report your figures. <a
                        href="https://www.ons.gov.uk/surveys/informationforbusinesses/businesssurveys/monthlybusinesssurveyforconstructionandalliedtrades"
                        target="_blank" rel="noopener noreferrer">A full list of allied trades can be found here</a>.
        </li>
        <li>If you have not carried out any work in the reporting period, enter zero values and still submit. Nil
                returns are equally important in producing statistics.
        </li>
        <li>If your total value of work is zero, please explain in the comments section at the end of the survey. This
                will reduce the need for us to contact you with data queries.
        </li>
</ul>

<h2>What you need to do</h2>

<p>You will be asked to provide a total figure for the value of the work your business has carried out during the reporting period.</p>

<p>You will then be asked to provide values for the work you have carried out across three main categories, with other breakdowns in each section.</p>

<ul><li>Housing work</li><li>Infrastructure</li><li>Non-housing, excluding infrastructure</li></ul>

<p>If you have difficulty in splitting your work across the different categories, then an informed estimate is acceptable.  However, please use a consistent approach for each reporting period.</p>

<p><a href="https://www.ons.gov.uk/surveys/informationforbusinesses/businesssurveys/monthlybusinesssurveyforconstructionandalliedtrades" target="_blank" rel="noopener noreferrer">See here for more detail on the questions you will be asked</a></p>

<h2>What do we mean by "value of work"?</h2>

<p>To calculate the value of your work, you will need to provide a precise valuation, or informed estimate if needed, of the chargeable work your business has carried out during the reporting period. This could be work started, in progress, or completed. </p>

<p>To produce a valuation, you will need to:</p>

<p>Include:</p>

<ul><li>materials used</li><li>overheads</li><li>profits</li><li>labour costs of employees on your payroll</li></ul>

<p>Exclude:</p>

<ul><li>value of the work carried out by subcontractors</li><li>VAT</li><li>payments for work carried out in previous periods</li><li>payments made to consultants or architects</li><li>fixtures, equipment, tools and materials your business made for sale</li><li>value of land</li></ul>


<form method="post">
{% from "components/button/_macro.njk" import onsButton %}
        {{
        onsButton({
        "classes": "ons-u-mt-l",
        "text": "Save and continue"
        })
        }}
</form>
{% endblock %}
