{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<form method="post">
    <div class="ons-summary">
        <div id="turnover" class="ons-summary__group">
            <h1>In-house R&D</h1>
            {% if data['loopingData'].length > 0 %}
            <table class="ons-summary__items">
                <thead class="ons-u-vh">
                <tr>
                    <th>Question</th>
                    <th>Answer given</th>
                    <th>Change answer</th>
                </tr>
                </thead>
                <tbody class="ons-summary__item">
                </tbody>
                {% for item in data['loopingData'] %}
                <tbody class="ons-summary__item">
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">What is the postcode of the workplace where in-house R&D is carried out?</div>
                    </td>
                    <td class="ons-summary__values">
                        {{ item.postcode }}
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Change details">Change</a>
                        <span class="ons-summary__spacer"></span>
                        <a href="#0" onclick="showAlert();" class="ons-summary__button" aria-label="Remove">Remove</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>

            {% if data['loopingData'].length > 0 %}
            <p><a href="add-postcodes">Add another postcode</a></p>
            {% endif %}
            <hr>
            <table class="ons-summary__items">
                <thead class="ons-u-vh">
                <tr>
                    <th>Question</th>
                    <th>Answer given</th>
                    <th>Change answer</th>
                </tr>
                </thead>
                <tbody class="ons-summary__item" style="border-bottom: 0">
                <tr class="ons-summary__row">
                    <th colspan="3" class="ons-summary__row-title ons-u-fs-r">What percent of in-house R&D is carried out at each of your workplaces?</th>
                </tr>
            {% for item in data['loopingData'] %}
                <tr class="ons-summary__row ons-summary__row--has-values">
                    <td class="ons-summary__item-title">
                        <div class="ons-summary__item--text">Percentage of in-house R&D carried out at {{ item.postcode }}</div>
                    </td>
                    <td class="ons-summary__values">
                        25%
                    </td>
                    <td class="ons-summary__actions">
                        <a href="#" onclick="showAlert();" class="ons-summary__button" aria-label="" data-qa="" data-ga="click" data-ga-category="Summary" data-ga-action="Edit click">Change</a>
                    </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
            <br>
            {% endif %}
        </div>
    </div>
<button type="submit" class="ons-btn">
    <span class="ons-btn__inner">Save and continue</span>
</button>

</form>
{% endblock %}

{% block pageScripts %}
{% endblock %}
