{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<h2>Looping scenarios</h2>
<h3>Business survey question examples</h3>
<ul>
    <li><a href="ashe/start">ASHE - annual survey of hour and earnings</a>
        <p>This survey design will populate names and NI numbers into sections using hub and spoke.</p>
    </li>
</ul>
{% endblock %}