{% set serviceName = "Household bills social survey - prototype" %}
{% extends "base.html" %}

{% block main %}
<h3>March 2022 - household bills social survey with updated content for feedback form, new mutually exclusive question and ABS previewing questions</h3>
<div class="ons-text-indent">Design work in progress</div>

<ul>
        <li>Updated feedback form with new content.</li>
        <li>Added a mutually exclusive 'not sure' answer / question with percentages input</li>
        <li>Added link to a guidance for 'ABS' survey from the account pages which has a new page to preview questions before starting survey</li>
</ul>

{% from "components/button/_macro.njk" import onsButton %}
{{
onsButton({
"text": 'Start prototype',
"url": 'v2/account/sign-in'
})
}}

<br>
<hr>
<br>

<h3>February 2022 - household bills social survey which includes grand summary, multiple mutually exclusive options and a new feedback form</h3>
<div class="ons-text-indent">Ready for research as of 28 February 2022</div>

<ul>
<li>Different section summaries are replayed in a final grand summary before submitting the social survey.</li>
<li>A multiple mutually exclusive option question, and a mutually exclusive option on a question with multiple inputs are also added on the social survey.</li>
<li>A new feedback form with radio options and text box is included on the confirmation page of the social survey.</li>
<li>The account home also routes to an e-commerce business survey guidance page which routes the user out externally to the ONS website for the questions that will be in the survey.</li>
<li>The user will also see a timeout message when going back to the survey list from the confirmation page in the social survey.</li>
</ul>

{% from "components/button/_macro.njk" import onsButton %}
        {{
        onsButton({
        "text": 'Start prototype',
        "url": 'v1/account/sign-in'
        })
        }}
{% endblock %}
