{% set serviceName = "Monthly Business Survey - Construction and Allied Trades" %}
{% extends "base.html" %}

{% block main %}
<h3>March 2022 - monthly business survey with grand summary added</h3>
<div class="ons-text-indent">Design complete</div>

<ul>
        <li>Different section summaries are replayed in a final grand summary before submitting the social survey.</li>
        <li>A new feedback form with radio options and text box is included on the confirmation page of the social survey.</li>
</ul>

{% from "components/button/_macro.njk" import onsButton %}
        {{
        onsButton({
        "text": 'Start prototype',
        "url": 'v1/start'
        })
        }}
{% endblock %}
