{% extends "./../includes/layout.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<form method="post">
<div class="ons-question ons-u-mb-l ons-u-mt-no">
    <div class="ons-question__answer ons-u-mb-m">
        <fieldset class="ons-fieldset">
            <legend class="ons-fieldset__legend ons-u-mb-no">
                <h1 id="fieldset-legend-title" class="ons-fieldset__legend-title ons-u-mb-m">Do you have any other recurring bills?</h1>
            </legend>
            <div class="ons-panel ons-panel--info ons-panel--no-title">
                <span class="ons-u-vh">Important information: </span>
                <div class="ons-panel__body">
                    <p>Include:</p>
                    <ul>
                        <li>credit card payments</li>
                        <li>mobile phone contracts</li>
                        <li>broadband contracts</li>
                    </ul>
                    <p>Exclude:</p>
                    <ul>
                        <li>one off payments</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="ons-input-items">
                <div class="ons-radios__items">
          <span class="ons-radios__item">
            <span class="ons-radio">
              <input type="radio" id="yes" class="ons-radio__input ons-js-radio" value="Yes" name="anythingToAdd">
              <label class=" ons-radio__label " for="yes" id="house-label">Yes</label>
            </span>
          </span>
                    <br>
                    <span class="ons-radios__item">
            <span class="ons-radio">
              <input type="radio" id="no" class="ons-radio__input ons-js-radio" value="No" name="anythingToAdd">
              <label class=" ons-radio__label " for="no" id="flat-label">No</label>
            </span>
          </span>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<button type="submit" class="ons-btn">
    <span class="ons-btn__inner">Save and continue</span>
</button>
</form>
{% endblock %}

{% block pageScripts %}
{% endblock %}
