\{% extends "./../includes/layout.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<h1>We calculate the total amount spent on food to be £{{ data['totalFoodAmountFormatted'] }}.00. Is this correct?</h1>
<p></p>

<div class="ons-panel ons-panel--success ons-panel--no-title print__hidden ons-u-mb-l">
        <span class="ons-u-vh">Completed: </span>
        <div class="ons-panel__body">
                <p>Please review your answers and confirm these are correct.</p>
        </div>
</div>

<div class="ons-summary">
        <div class="ons-summary__group">
                <table class="ons-summary__items">
                        <thead class="ons-u-vh">
                        <tr>
                                <th>Question</th>
                                <th>Answer given</th>
                                <th>Change answer</th>
                        </tr>
                        </thead>
                        <tbody class="ons-summary__item" id="first-number-question">
                        <tr class="ons-summary__row ons-summary__row--has-values" id="first-number-answer">
                                <td class="ons-summary__item-title">
                                        <div class="ons-summary__item--text">
                                                {% if data['customDates'] === true %}
                                                During the period {{data['whatDateFromDay']}} {{data['whatDateFromMonthText']}} {{data['whatDateFromYear']}} to {{data['whatDateToDay']}} {{data['whatDateToMonthText']}} {{data['whatDateToYear']}}, what was the total amount you spent on takeaways?
                                                {% else %}
                                                During the period 1 January 2021 to 31 December 2021, what was the total amount you spent on takeaways?
                                                {% endif %}
                                        </div>
                                </td>
                                <td class="ons-summary__values">
                                        £{{ data['totalTakeawaySpendFormatted'] }}.00
                                </td>
                                <td class="ons-summary__actions">
                                        <a href="" onclick="showAlert();">Change</a>
                                </td>
                        </tr>
                        </tbody>
                        <tbody class="ons-summary__item" id="second-number-question">
                        <tr class="ons-summary__row ons-summary__row--has-values" id="second-number-answer">
                                <td class="ons-summary__item-title">
                                        <div class="ons-summary__item--text">
                                                {% if data['customDates'] === true %}
                                                During the period {{data['whatDateFromDay']}} {{data['whatDateFromMonthText']}} {{data['whatDateFromYear']}} to {{data['whatDateToDay']}} {{data['whatDateToMonthText']}} {{data['whatDateToYear']}}, what was the total amount you spent on your weekly shop?
                                                {% else %}
                                                During the period 1 January 2021 to 31 December 2021, what was the total amount you spent on your weekly shop?
                                                {% endif %}
                                        </div>
                                </td>
                                <td class="ons-summary__values">
                                        £{{ data['totalWeeklyShopSpendFormatted'] }}.00
                                </td>
                                <td class="ons-summary__actions">
                                        <a href="" onclick="showAlert();">Change</a>
                                </td>
                        </tr>
                        </tbody>
                        <tbody class="ons-summary__item" id="third-number-question">
                        <tr class="ons-summary__row ons-summary__row--has-values" id="third-number-answer">
                                <td class="ons-summary__item-title">
                                        <div class="ons-summary__item--text">
                                                {% if data['customDates'] === true %}
                                                During the period {{data['whatDateFromDay']}} {{data['whatDateFromMonthText']}} {{data['whatDateFromYear']}} to {{data['whatDateToDay']}} {{data['whatDateToMonthText']}} {{data['whatDateToYear']}}, what was the total amount you spent on eating out?
                                                {% else %}
                                                During the period 1 January 2021 to 31 December 2021, what was the total amount you spent on eating out?
                                                {% endif %}
                                        </div>
                                </td>
                                <td class="ons-summary__values">
                                        £{{ data['totalEatingOutSpendFormatted'] }}.00
                                </td>
                                <td class="ons-summary__actions">
                                        <a href="" onclick="showAlert();">Change</a>
                                </td>
                        </tr>
                        </tbody>

                        <tbody class="ons-summary__item ons-summary__item--total" id="calculated-summary-question">
                        <tr class="ons-summary__row ons-summary__row--has-values">
                                <td class="ons-summary__item-title">
                                        <div class="ons-summary__item--text">Total spent on food</div>
                                </td>
                                <td class="ons-summary__values" colspan="2">
                                        £{{ data['totalFoodAmountFormatted'] }}.00
                                </td>
                        </tr>
                        </tbody>
                </table>
        </div>
</div>
<form method="post">
        {% from "components/button/_macro.njk" import onsButton %}
        {{
        onsButton({
        "classes": "ons-u-mt-l",
        "text": "Yes, I confirm these are correct"
        })
        }}
</form>
{% endblock %}
