{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}

<h3>Looping scenarios</h3>
<ul>
    <li><a href="postcode/start">Collecting postcodes and percentages</a><p>This design allows for looping through collecting postcodes. It also then collects percentages against each postcode collected which must add up to 100%.</p></li>
    <li><a href="collector/anything-to-add">Collecting currency values and free text</a><p>This design allows for looping through collecting free text description and currency values. A calculated summary can be then added to this design.</p></li>
</ul>

{% endblock %}
