{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<h3>Looping features for user research</h3>
<h4>Business survey question examples</h4>
<ul>
    <li><a href="postcode/start">Collecting postcodes - business R&D - percentages at each postcode</a>
        <p>This design is for collecting multiple postcodes (or text input) in a loop and then collecting a percentage against each postcode.</p>
    </li>
    <li><a href="free-text/anything-to-add">Collecting text input - name of UK branch - and additional radio question</a>
        <p>This design is for collecting multiple text inputs in a loop and then answering an additional question against each text input.</p>
    </li>
    <li><a href="collector/anything-to-add">Collecting a description of item and currency values - disposal and acquisition - with calculated summary</a>
        <p>This design is for collecting descriptions of items and currency values against them, which is then shown in calculated summaries.</p>
    </li>
    <li><a href="calculated-summary-along-others/start">Collecting another type of asset and a value - with calculated summary</a>
        <p>This design is for capturing values for defined questions, and then allowing the user to add another type of asset and collecting values for them, which is then shown in a calculated summary.</p>
    </li>
    <li><a href="long-list-calculated/start">Long list of services - added to a calculated summary</a>
        <p>This design is for capturing values for defined questions, and then allowing the user to add from a long list of services and collecting values for them, which is then shown in a calculated summary.</p>
    </li>
</ul>
<h4>Social survey question examples</h4>
<ul>
    <li><a href="supermarket/start">Supermarket shopped at - percentage at each</a><p>This design collects free text name for the supermarkets shopped at, and what percentage of their shopping is at each supermarket.</p></li>
    <li><a href="countries-travelled-to/start">Countries travelled to - simple loop</a><p>This design collects country name by autosuggest.</p></li>
</ul>
<hr>
<br>
<div id="collapsible" class="ons-collapsible ons-js-collapsible" data-btn-close="Hide this">
    <div class="ons-collapsible__heading ons-js-collapsible-heading">
        <div class="ons-collapsible__controls">
            <h2 class="ons-collapsible__title">Initial looping scenarios</h2>
            <span class="ons-collapsible__icon">
        <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
          <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
        </svg>
      </span>
        </div>
    </div>
    <div id="collapsible-content" class="ons-collapsible__content ons-js-collapsible-content">
        <ul>
            <li><a href="free-text/anything-to-add">Collecting free text and yes / no</a><p>This design collects free text information and an answer to a yes / no question.</p></li>
            <li><a href="postcode/start">Collecting postcodes and percentages</a><p>This design allows for looping through collecting postcodes. It also then collects percentages against each postcode collected which must add up to 100%.</p></li>
            <li><a href="collector/anything-to-add">Collecting currency values and free text</a><p>This design allows for looping through collecting free text description and currency values. A calculated summary can be then added to this design.</p></li>
        </ul>
    </div>
</div>
{% endblock %}

<!--
Renting, buying or selling of property
Real estate services on a fee or contract basis
Buildings and landscape services
Construction and construction works for civil engineering; roads, railways, bridges and tunnels
Specialised construction, demolition and site preparation; electrical and plumbing installation, building completion work
Mining support services
Information services; data processing, web hosting and IT infrastructure provisioning
Repair services of computers, personal and household goods
Printing and reproduction services of recorded media
Publishing services of books, newspapers, journals, advertising space in books and newspapers and software publishing services
Motion pictures, video and television programme production services, sound recording and music publishing
Programming and broadcasting services
Support services to financial and insurance activities
Head office and management consulting services
Office administration, office support and other business support services
Scientific research and development services
Travel agency, tour operator and other reservation services and related services
Security and investigation services
Membership organisation services
Personal services, dry cleaning and laundry, hairdressing and beauty, funeral and related services
Passenger and freight rail transport services
Water transport services
Air transport services
Repair and maintenance services of ships and boats
Repair and maintenance services of aircraft and spacecraft
Warehousing and transportation support services
Travel accommodation services
Public administration and compulsory social security services
Education and training services
Human health services
Residential care services
Social work services without accommodation
Creative, arts and entertainment services
Library, archive, museum and other cultural services
Gambling and betting services
Sporting, amusement and recreation services
!-->

<!--
Air transport services
Buildings and landscape services
Construction and construction works for civil engineering; roads, railways, bridges and tunnels
Creative, arts and entertainment services
Education and training services
Gambling and betting services
Head office and management consulting services
Human health services
Information services; data processing, web hosting and IT infrastructure provisioning
Library, archive, museum and other cultural services
Membership organisation services
Mining support services
Motion pictures, video and television programme production services, sound recording and music publishing
Office administration, office support and other business support services
Passenger and freight rail transport services
Personal services, dry cleaning and laundry, hairdressing and beauty, funeral and related services
Printing and reproduction services of recorded media
Programming and broadcasting services
Public administration and compulsory social security services
Publishing services of books, newspapers, journals, advertising space in books and newspapers and software publishing services
Real estate services on a fee or contract basis
Renting, buying or selling of property
Repair and maintenance services of aircraft and spacecraft
Repair and maintenance services of ships and boats
Repair services of computers, personal and household goods
Residential care services
Scientific research and development services
Security and investigation services
Social work services without accommodation
Specialised construction, demolition and site preparation; electrical and plumbing installation, building completion work
Sporting, amusement and recreation services
Support services to financial and insurance activities
Travel accommodation services
Travel agency, tour operator and other reservation services and related services
Warehousing and transportation support services
Water transport services
!-->