{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}

{% endblock %}

{% block main %}
<form method="post">
<div class="ons-question ons-u-mb-l ons-u-mt-no">
    <div class="ons-question__answer ons-u-mb-m">
        <fieldset class="ons-fieldset">
            <legend class="ons-fieldset__legend ons-u-mb-no">
                <h1 id="fieldset-legend-title" class="ons-fieldset__legend-title ons-u-mb-m">
                    How much annual basic pay, before deductions, did Barry Scott receive?
                </h1>
            </legend>
            <div class="ons-panel ons-panel--info ons-panel--no-title">
                <span class="ons-u-vh">Important information: </span>
                <div class="ons-panel__body">
                    <p>Include:</p>
                    <ul>
                        <li>all basic pay</li>
                        <li>pension schemes</li>
                        <li>paid leave (holiday pay)</li>
                    </ul>
                    <p>Exclude:</p>
                    <ul>
                        <li>shift premium pay</li>
                        <li>overtime pay</li>
                        <li>benefits in kind</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="ons-field">
                <label class="ons-label" for="prefixed">Annual basic pay</label>
                <span class="ons-input-type ons-input-type--prefix">
    <span class="ons-input-type__inner">
      <input type="text" id="prefixed" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-10" aria-labelledby="" pattern="[0-9]*" inputmode="numeric" autocomplete="off" required="required" />
      <abbr class="ons-input-type__type ons-js-input-abbr" title="British pounds (GBP)">£</abbr>
    </span>
  </span>
            </div>
        </fieldset>
    </div>
</div>

<button type="submit" class="ons-btn">
    <span class="ons-btn__inner">Save and continue</span>
</button>
</form>
{% endblock %}
