{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}

{% endblock %}

{% block main %}
<form method="post">
<div class="ons-question ons-u-mb-l ons-u-mt-no">
    <div class="ons-question__answer ons-u-mb-m">
        <fieldset class="ons-fieldset">
            <legend class="ons-fieldset__legend ons-u-mb-no">
                <h1 id="fieldset-legend-title" class="ons-fieldset__legend-title ons-u-mb-m">
                    How many overtime hours did Barry Scott work in relation to being paid £{{data['overtimePay']}}?
                </h1>
            </legend>
            <legend class="ons-fieldset__legend ons-u-mb-xs ">
                <span class="ons-fieldset__legend-title">Hours and minutes</span>
            </legend>
            <div class="ons-field-group">
                <div class="ons-field">
      <span class="ons-input-type">
        <span class="ons-input-type__inner">
          <input type="text" id="mandatory-year-month-answer-years" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-2" aria-labelledby="" name="mandatory-year-month-answer-years" pattern="[0-9]*" inputmode="numeric">
          <abbr class="ons-input-type__type ons-js-input-abbr" title="
							<built-in method title of str object at 0x3e7129cce330>">
            <built-in method="" title="" of="" str="" object="" at="" 0x3e7129cce330=""></built-in>
          </abbr>
        </span>
      </span>
                </div>
                <div class="ons-field">
      <span class="ons-input-type">
        <span class="ons-input-type__inner">
          <input type="text" id="mandatory-year-month-answer-months" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-4" aria-labelledby="" name="mandatory-year-month-answer-months" pattern="[0-9]*" inputmode="numeric">
          <abbr class="ons-input-type__type ons-js-input-abbr" title="
									<built-in method title of str object at 0x3e71293d25f0>">
            <built-in method="" title="" of="" str="" object="" at="" 0x3e71293d25f0=""></built-in>
          </abbr>
        </span>
      </span>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<button type="submit" class="ons-btn">
    <span class="ons-btn__inner">Save and continue</span>
</button>
</form>
{% endblock %}
