{% extends "./../includes/layout.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
    {{
    onsBreadcrumbs({
    "ariaLabel": 'Previous',
    "itemsList": [
    {
    "url": 'javascript:history.back()',
    "id": "previous",
    "text": 'Previous'
    }
    ]
    })
    }}
{% endblock %}

{% block main %}

<h1>Your contact details</h1>

<p></p>
<form method="post">

    <div class="ons-field">
        <label class="ons-label ons-label--with-description" for="telephone">UK phone number</label>

        <input type="tel" id="telephone" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-15" autocomplete="tel" />
    </div>

    <div class="ons-field">
        <label class="ons-label ons-label--with-description" for="email">Email address</label>

        <input type="email" id="email" class="ons-input ons-input--text ons-input-type__input" autocomplete="email" />
    </div>

    <p class="ons-checkboxes--mutually-exclusive__item ons-u-mt-s">
        <span class="ons-checkboxes__label ons-u-fs-r--b" aria-hidden="true">Or</span>
        <span class="ons-checkbox ">
                                    <input onclick="clearform();" type="checkbox" id="not-sure"
                                           class="ons-checkbox__input ons-js-exclusive-checkbox" value="not-sure"
                                           data-deselect-message="Selecting this will uncheck all other checkboxes">
                                <label class="ons-checkbox__label  " for="not-sure" id="not-sure-label"><span class="ons-u-vh">Or, </span> I'd prefer not to be contacted
                                    </label>
                                    </span>
    </p><br>
    {% from "components/button/_macro.njk" import onsButton %}
        {{
        onsButton({
        "classes": "ons-u-mt-l",
        "text": "Save and continue"
        })
        }}
</form>
{% endblock %}

{% block pageScripts %}
<script>
  function clearform(){
    document.getElementById('telephone').value = '';
    document.getElementById('email').value = '';
  }
</script>

<script>
  $(document).ready(clearCheckbox());
  function clearCheckbox() {
    $('#telephone').on('input', function() {
      $("#not-sure").prop("checked", false);
    });
    $('#email').on('input', function() {
      $("#not-sure").prop("checked", false);
    });
  }

</script>
{% endblock %}


