{% set serviceName = "Low Carbon and Renewable Energy Economy Survey" %}
{% extends "survey-signed-in-pre-start.html" %}

{% block main %}
<h2>You are completing this for ESSENTIAL ENTERPRISE LTD. (ESSENTIAL ENTERPRISE LTD.)</h2>
<p>If the company details or structure have changed contact us on <a href="tel:03001234931">0300 1234 931</a> or email <a href="mailto:surveys@ons.gov.uk?subject=Change%20of%20details%2012346789012A">surveys@ons.gov.uk</a></p>

<div id="description" class="ons-u-mb-s">

        <ul><li>Data should relate to all sites in England, Scotland, Wales and Northern Ireland but excludes the Channel Islands and the Isle of Man.</li>
                <li>Exclude overseas branches, subsidiaries and agencies.</li>
                <li>You can provide informed estimates if actual figures are not available.</li>
                <li>We will treat your data securely and confidentially.</li>
                <li><a href="https://www.ons.gov.uk/economy/environmentalaccounts/datasets/lowcarbonandrenewableenergyeconomyfirstestimatesdataset" target="_blank" rel="noopener noreferrer">View the latest publication produced from this survey (this link opens in a new tab)</a></li>
                <li>You can print or save your answers as a PDF at the end of this questionnaire.</li>
        </ul>
</div>

<h2 class="ons-u-mb-xs" data-qa="legal-response">Your response is legally required</h2>

<p class="ons-u-mb-m" data-qa="legal-basis">Notice is given under section 1 of the Statistics of Trade Act 1947.</p>


{% endblock %}
