{% extends "base.html" %}
{% set serviceName = "ONS surveys" %}

{% block preMain %}
<br>
<div class="ons-panel ons-panel--info ons-panel--no-title">
    <span class="ons-u-vh">Important information: </span>
    <div class="ons-panel__body">
        <h2>Your session has expired</h2>
        <p>To help protect your information we have signed you out.</p>
    </div>
</div>
<p style="margin-top: 1em; margin-bottom: 0">New to this service?
    <a id="create-account" href="#" onclick="showAlert();">Create an account</a>
</p>
{% endblock %}

{% block main %}
<h1 class="ons-u-fs-xl">Sign in</h1>
<fieldset id="sign-in-details" class="ons-fieldset">
    <legend class="ons-fieldset__legend ons-u-vh">Sign in
    </legend>
    <p class="ons-field">
        <label class="ons-label" for="username">Email Address</label>
        <input type="text" id="username" class="ons-input ons-input--text ons-input-type__input " name="username">
    </p>
    <p class="ons-field js-password">
        <label class="ons-label" for="inputPassword">Password</label>
        <input type="password" id="inputPassword" class="ons-input ons-input--text ons-input-type__input ons-u-mt-xs js-password-input" name="password">
    </p>
</fieldset>
{% from "components/button/_macro.njk" import onsButton %}
{{
onsButton({
"type": 'button',
"text": 'Sign in',
"classes": 'ons-u-mt-l js-timer js-submit-btn ons-btn--link-no-icon',
"url": "account-home"
})
}}
<div class="ons-u-mt-m">
    <a href="#" onclick="showAlert();">Forgot password?</a>
</div>
{% endblock %}

