{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<form method="post">
<div class="ons-question ons-u-mb-l ons-u-mt-no">
    <div class="ons-question__answer ons-u-mb-m">
        <fieldset class="ons-fieldset">
            <legend class="ons-fieldset__legend ons-u-mb-no">
                <h1 id="fieldset-legend-title" class="ons-fieldset__legend-title ons-u-mb-m">What was the value of stocks held for coal (net of progress payments on long-term contracts)?</h1>
            </legend>
            <div id="collapsible" class="ons-collapsible ons-js-collapsible" data-btn-close="Hide this">
                <div class="ons-collapsible__heading ons-js-collapsible-heading">
                    <div class="ons-collapsible__controls">
                        <h2 class="ons-collapsible__title">How to answer this question</h2>
                        <span class="ons-collapsible__icon">
        <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
          <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
        </svg>
      </span>
                    </div>
                </div>
                <div id="collapsible-content" class="ons-collapsible__content ons-js-collapsible-content">
                    <div class="">
                        <span class="ons-u-vh">Important information: </span>
                        <div class="">
                            <p>Include:</p>
                            <ul>
                                <li>All stock owned by your business, whether in the UK or abroad</li>
                                <li>Duty for dutiable goods held out of bond</li>
                                <li>The value of any goods let out on hire, only if they were charged to current account when acquired and do not rank as capital items for taxation purposes</li>
                            </ul>
                            <p>Exclude:</p>
                            <ul>
                                <li>VAT</li>
                                <li>Stocks you hold that do not belong to you</li>
                                <li>Duty on stocks held in bond</li>
                                <li>Domestic and retail appliances</li>
                                <li>Provision for obsolete stock</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="ons-btn ons-js-collapsible-button ons-u-d-no ons-btn--secondary ons-btn--small" aria-hidden="true">
                        <span class="ons-btn__inner ons-js-collapsible-button-inner">Hide this</span>
                        <span class="ons-btn__context ons-u-vh">Content</span>
                    </button>
                </div>
            </div>
            <br>
            <p>Enter the full value (e.g. 56,234.33) or a value to the nearest £thousand (e.g. 56,000). Do not enter ‘56’ for £56,000.</p>
            <div class="ons-field">
                <label class="ons-label" for="prefixed">Value of coal stocks at start of period</label>
                <span class="ons-input-type ons-input-type--prefix">
                <span class="ons-input-type__inner">
                  <input type="text" id="prefixed" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-6" title="British pounds (GBP)" pattern="[0-9]*" inputmode="numeric" autocomplete="off" required="required" />
                  <abbr class="ons-input-type__type ons-js-input-abbr" aria-hidden="true" title="British pounds (GBP)">£</abbr>
                </span>
<!--                <span>&nbsp;,000</span>-->
              </span>
            </div>
            <div class="ons-field">
                <label class="ons-label" for="prefixed-2">Value of coal stocks at end of period</label>
                <span class="ons-input-type ons-input-type--prefix">
                <span class="ons-input-type__inner">
                  <input type="text" id="prefixed-2" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-6" title="British pounds (GBP)" pattern="[0-9]*" inputmode="numeric" autocomplete="off" required="required" />
                  <abbr class="ons-input-type__type ons-js-input-abbr" aria-hidden="true" title="British pounds (GBP)">£</abbr>
                </span>
              </span>
            </div>

        </fieldset>
    </div>
</div>

<button type="submit" class="ons-btn">
    <span class="ons-btn__inner">Save and continue</span>
</button>
</form>
{% endblock %}
