{% extends "./../includes/layout.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<h1>This survey requires you to report the value of work</h1>
<p>Value of work refers to a precise valuation or informed estimate of chargeable work carried out during the reporting period. This includes work started, work in progress and work completed.</p>
<p>Include:</p>
<p></p>

<ul>
        <li>work done by your own business on its own business premises</li>
        <li>fixtures, equipment and tools your business made and used in construction</li>
        <li>materials your business used, overheads and profits</li>
        <li>labour costs on your payroll</li>
</ul>

<p>Exclude:</p>
<p></p>

<ul>
        <li>value of work done by subcontractors</li>
        <li>VAT</li>
        <li>materials your business used, overheads and profits</li>
        <li>labour costs on your payroll</li>
</ul>
<form method="post">
{% from "components/button/_macro.njk" import onsButton %}
        {{
        onsButton({
        "classes": "ons-u-mt-l",
        "text": "Continue"
        })
        }}
</form>
{% endblock %}
