{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block main %}
<h1>Prototype index</h1>

<h3>Features list</h3>
<ul>
    <li><a href="features/looping/index">Looping scenarios</a></li>
    <li><a href="features/view-intro-page-at-end/index">View survey introduction page before submitting survey (hub page / check your answer page)</a></li>
    <li><a href="features/long-list-of-codes/index">Long list to select from</a></li>
</ul>
<h3>Prototype journeys</h3>
<ul>
    <li><a href="monthly-business-survey-construction-and-allied-trades/index">Monthly business survey - construction - prototype</a><p>Prototype for monthly business survey for construction and allied trades.</p></li>
    <li><a href="utilities-social-survey/index">Social survey - prototype</a><p>A mocked up social questionnaire about household bills.</p></li>
</ul>
{% endblock %}
