{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block main %}
<h1>Prototype index</h1>

<h3>Features list</h3>
<ul>
    <li><a href="features/long-list-of-codes/index">Long list of codes</a><p>Displaying a long list of codes to select from using the 'select' pattern</p></li>
</ul>
<h3>Prototype journeys</h3>
<ul>
    <li><a href="utilities-social-survey/index">Social survey - prototype</a><p>A mocked up social questionnaire about household bills.</p></li>
</ul>
{% endblock %}
