{% set serviceName = "eQ prototypes" %}
{% extends "base.html" %}

{% block main %}
<h1>Prototype index</h1>

<h3>February 2022</h3>
<ul>
    <li><a href="utilities-social-survey/index">Social survey - prototype</a><p>A mocked up social questionnaire about household bills.</p></li>
    <li><a href="monthly-business-survey-construction-and-allied-trades/index">Monthly business survey - construction and allied trades</a><p>Prototype version of the monthly business survey for construction.</p></li>
</ul>
{% endblock %}
