\{% extends "./../includes/layout.html" %}

{% block preMain %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{{
onsBreadcrumbs({
"ariaLabel": 'Previous',
"itemsList": [
{
"url": 'javascript:history.back()',
"id": "previous",
"text": 'Previous'
}
]
})
}}
{% endblock %}

{% block main %}
<h1>Review total amount spent on household bills</h1>
<p></p>

<div class="ons-summary">
    <div id="how-to-complete-and-reporting-period" class="ons-summary__group">
        <div>
            <div id="summary-accordion" class="ons-accordion">

                <button type="button"
                        class="ons-btn ons-js-collapsible-all ons-u-mb-s ons-btn--secondary ons-btn--small"
                        data-ga="click" data-ga-category="Preview Survey" data-ga-action="Show all"
                        data-ga-label="Hide all" data-close-all="Hide all" data-group="summary-accordion">
                    <span class="ons-btn__inner ons-js-collapsible-all-inner">Show all</span>
                </button>

                <div id="summary-accordion-1"
                     class="ons-collapsible ons-js-collapsible ons-collapsible--accordion ons-collapsible--initialised"
                     data-btn-close="Hide" data-group="summary-accordion" role="group">
                    <div class="ons-collapsible__heading ons-js-collapsible-heading" role="link"
                         aria-controls="summary-accordion-1" aria-expanded="false" data-ga-action="Close panel">
                        <div class="ons-collapsible__controls">
                            <h2 class="ons-collapsible__title">How to complete and reporting period</h2>
                            <span class="ons-collapsible__icon">
                                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false"
                                     fill="currentColor">
                                    <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z"
                                          transform="translate(-5.02 -1.59)"></path>
                                </svg>
                                </span>

                            <button type="button"
                                    class="ons-btn ons-collapsible__btn ons-js-collapsible-button ons-u-d-no@xxs@s ons-btn--secondary ons-btn--small"
                                    aria-controls="summary-accordion-1">
                                <span class="ons-btn__inner ons-js-collapsible-button-inner">Show</span>
                            </button>

                        </div>
                    </div>
                    <div id="summary-accordion-1-content" class="ons-collapsible__content ons-js-collapsible-content"
                         aria-hidden="true">

                        <div class="ons-summary summary--no-bottom-border">
                            <div class="ons-summary__group">
                                <table class="ons-summary__items">
                                    <thead class="ons-u-vh">
                                    <tr>
                                        <th>Question</th>
                                        <th>Answer given</th>
                                        <th>Change answer</th>
                                    </tr>
                                    </thead>


                                    <tbody class="ons-summary__item">
                                    <tr
                                        class="ons-summary__row ons-summary__row--has-values">
                                        <td class="ons-summary__item-title">
                                                <div class="ons-summary__item--text">Are you able to report for the calendar year 1 January 2021 to 31 December 2021?</div>
                                        </td>
                                        <td class="ons-summary__values">
                                                {% if data ['ableToReport'] === 'yes' %}
                                                Yes, I can report for these dates
                                                {% endif %}
                                                {% if data ['ableToReport'] === 'no' %}
                                                No, I need to report for a different period
                                                {% endif %}
                                        </td>
                                        <td class="ons-summary__actions">
                                            <a href="" onclick="showAlert();"
                                               class="ons-summary__button">
                                                    Change</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                        {% if data ['customDates'] === true %}
                                        <tbody class="ons-summary__item">
                                    <tr
                                        class="ons-summary__row ons-summary__row--has-values">
                                        <td class="ons-summary__item-title">
                                                <div class="ons-summary__item--text">What dates will you be reporting for?</div>
                                        </td>
                                        <td class="ons-summary__values">
                                                {{data['whatDateFromDay']}} {{data['whatDateFromMonthText']}} {{data['whatDateFromYear']}} to {{data['whatDateToDay']}} {{data['whatDateToMonthText']}} {{data['whatDateToYear']}}
                                        </td>
                                        <td class="ons-summary__actions">
                                            <a href="" onclick="showAlert();"
                                               class="ons-summary__button">
                                                    Change</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                        {% endif %}

                                </table>

                            </div>
                        </div>

                    </div>
                </div>
                <div id="summary-accordion-2"
                     class="ons-collapsible ons-js-collapsible ons-collapsible--accordion ons-collapsible--initialised"
                     data-btn-close="Hide" data-group="summary-accordion" role="group">
                    <div class="ons-collapsible__heading ons-js-collapsible-heading" role="link"
                         aria-controls="summary-accordion-2" aria-expanded="false" data-ga-action="Close panel">
                        <div class="ons-collapsible__controls">
                            <h2 class="ons-collapsible__title">Energy utilities</h2>
                            <span class="ons-collapsible__icon">
                                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false"
                                     fill="currentColor">
                                    <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z"
                                          transform="translate(-5.02 -1.59)"></path>
                                </svg>
                                </span>

                            <button type="button"
                                    class="ons-btn ons-collapsible__btn ons-js-collapsible-button ons-u-d-no@xxs@s ons-btn--secondary ons-btn--small"
                                    aria-controls="summary-accordion-2">
                                <span class="ons-btn__inner ons-js-collapsible-button-inner">Show</span>
                            </button>

                        </div>
                    </div>
                    <div id="summary-accordion-2-content" class="ons-collapsible__content ons-js-collapsible-content"
                         aria-hidden="true">

                        <div class="ons-summary summary--no-bottom-border">
                            <div class="ons-summary__group">
                                <table class="ons-summary__items">
                                    <thead class="ons-u-vh">
                                    <tr>
                                        <th>Question</th>
                                        <th>Answer given</th>
                                        <th>Change answer</th>
                                    </tr>
                                    </thead>


                                    <tbody class="ons-summary__item">
                                    <tr
                                        class="ons-summary__row ons-summary__row--has-values">
                                        <td class="ons-summary__item-title">
                                                {% if data ['customDates'] === true %}
                                                <div class="ons-summary__item--text">During the period {{ data['whatDateFromDay'] }} {{ data['whatDateFromMonthText'] }} {{ data['whatDateFromYear'] }} to {{ data['whatDateToDay'] }} {{ data['whatDateToMonthText'] }} {{ data['whatDateToYear'] }}, what was the total amount your household spent on gas, electric and water bills?</div>
                                                {% endif %}
                                                {% if data ['customDates'] !== true %}
                                                <div class="ons-summary__item--text">During the period 1 January 2021 to 31 December 2021, what was the total amount your household spent on gas, electric and water bills?</div>
                                                {% endif %}
                                        </td>
                                        <td class="ons-summary__values">
                                            £{{data ['totalEnergyUtilitiesFormatted']}}
                                        </td>
                                        <td class="ons-summary__actions">
                                            <a href="" onclick="showAlert();"
                                               class="ons-summary__button">
                                                    Change</a>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>

                    </div>
                </div>
                <div id="summary-accordion-3"
                     class="ons-collapsible ons-js-collapsible ons-collapsible--accordion ons-collapsible--initialised"
                     data-btn-close="Hide" data-group="summary-accordion" role="group">
                    <div class="ons-collapsible__heading ons-js-collapsible-heading" role="link"
                         aria-controls="summary-accordion-3" aria-expanded="false" data-ga-action="Close panel">
                        <div class="ons-collapsible__controls">
                            <h2 class="ons-collapsible__title">Broadband, phone and TV</h2>
                            <span class="ons-collapsible__icon">
                                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false"
                                     fill="currentColor">
                                    <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z"
                                          transform="translate(-5.02 -1.59)"></path>
                                </svg>
                                </span>

                            <button type="button"
                                    class="ons-btn ons-collapsible__btn ons-js-collapsible-button ons-u-d-no@xxs@s ons-btn--secondary ons-btn--small"
                                    aria-controls="summary-accordion-3">
                                <span class="ons-btn__inner ons-js-collapsible-button-inner">Show</span>
                            </button>

                        </div>
                    </div>
                    <div id="summary-accordion-3-content" class="ons-collapsible__content ons-js-collapsible-content"
                         aria-hidden="true">

                        <div class="ons-summary summary--no-bottom-border">
                            <div class="ons-summary__group">
                                <table class="ons-summary__items">
                                    <thead class="ons-u-vh">
                                    <tr>
                                        <th>Question</th>
                                        <th>Answer given</th>
                                        <th>Change answer</th>
                                    </tr>
                                    </thead>


                                    <tbody class="ons-summary__item">
                                    <tr
                                        class="ons-summary__row ons-summary__row--has-values">
                                        <td class="ons-summary__item-title">
                                                {% if data ['customDates'] === true %}
                                                <div class="ons-summary__item--text">During the period {{ data['whatDateFromDay'] }} {{ data['whatDateFromMonthText'] }} {{ data['whatDateFromYear'] }} to {{ data['whatDateToDay'] }} {{ data['whatDateToMonthText'] }} {{ data['whatDateToYear'] }}, what was the total amount your household spent on broadband, phone and TV bills?</div>
                                                {% endif %}
                                                {% if data ['customDates'] !== true %}
                                                <div class="ons-summary__item--text">During the period 1 January 2021 to 31 December 2021, what was the total amount your household spent on broadband, phone and TV bills?</div>
                                                {% endif %}
                                        </td>
                                        <td class="ons-summary__values">
                                            £{{data ['totalBroadbandPhoneTVFormatted']}}
                                        </td>
                                        <td class="ons-summary__actions">
                                            <a href="" onclick="showAlert();"
                                               class="ons-summary__button">
                                                    Change</a>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>

                    </div>
                </div>
                <div id="summary-accordion-4"
                     class="ons-collapsible ons-js-collapsible ons-collapsible--accordion ons-collapsible--initialised"
                     data-btn-close="Hide" data-group="summary-accordion" role="group">
                    <div class="ons-collapsible__heading ons-js-collapsible-heading" role="link"
                         aria-controls="summary-accordion-4" aria-expanded="false" data-ga-action="Close panel">
                        <div class="ons-collapsible__controls">
                            <h2 class="ons-collapsible__title">Household shopping</h2>
                            <span class="ons-collapsible__icon">
                                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false"
                                     fill="currentColor">
                                    <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z"
                                          transform="translate(-5.02 -1.59)"></path>
                                </svg>
                                </span>

                            <button type="button"
                                    class="ons-btn ons-collapsible__btn ons-js-collapsible-button ons-u-d-no@xxs@s ons-btn--secondary ons-btn--small"
                                    aria-controls="summary-accordion-4">
                                <span class="ons-btn__inner ons-js-collapsible-button-inner">Show</span>
                            </button>

                        </div>
                    </div>
                    <div id="summary-accordion-4-content" class="ons-collapsible__content ons-js-collapsible-content"
                         aria-hidden="true">

                        <div class="ons-summary summary--no-bottom-border">
                            <div class="ons-summary__group">
                                <table class="ons-summary__items">
                                    <thead class="ons-u-vh">
                                    <tr>
                                        <th>Question</th>
                                        <th>Answer given</th>
                                        <th>Change answer</th>
                                    </tr>
                                    </thead>


                                    <tbody class="ons-summary__item">
                                    <tr
                                        class="ons-summary__row ons-summary__row--has-values">
                                        <td class="ons-summary__item-title">
                                                {% if data ['customDates'] === true %}
                                                <div class="ons-summary__item--text">During the period {{ data['whatDateFromDay'] }} {{ data['whatDateFromMonthText'] }} {{ data['whatDateFromYear'] }} to {{ data['whatDateToDay'] }} {{ data['whatDateToMonthText'] }} {{ data['whatDateToYear'] }}, what was the total amount your household spent on household shopping?</div>
                                                {% endif %}
                                                {% if data ['customDates'] !== true %}
                                                <div class="ons-summary__item--text">During the period 1 January 2021 to 31 December 2021, what was the total amount your household spent on household shopping?</div>
                                                {% endif %}
                                        </td>
                                        <td class="ons-summary__values">
                                            £{{data ['totalHouseholdShoppingFormatted']}}
                                        </td>
                                        <td class="ons-summary__actions">
                                            <a href="" onclick="showAlert();"
                                               class="ons-summary__button">
                                                    Change</a>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<form method="post">
    {% from "components/button/_macro.njk" import onsButton %}
    {{
    onsButton({
    "classes": "ons-u-mt-l",
    "text": "Continue"
    })
    }}
</form>
{% endblock %}
